<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="https://img.icons8.com/color/48/000000/chocolate-tree.png" class="app-logo" alt="Logotipo" />
            <span  [routerLink]="['/home/inicio']" id="brand">
                <strong>Poster</strong>App
            </span>
        </div>

        <!-- MENU -->
        <nav id="menu">
            <ul *ngIf="identity" >
                <li>
                    <a [routerLink]="['/home/inicio']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog/posts/todos']">Posts</a>
                </li>
                <li>
                    <a [routerLink]="['/categorias']">Categorías</a>
                </li>
                <li>
                    <small (click)="doDropdown()" class="badge badge-black">
                        <img width="20" style="position: relative;top: 5px;"
                             src="https://img.icons8.com/plasticine/100/000000/circled-chevron-down.png"/>
                        {{identity.username}}
                    </small>
                        &nbsp;
                    <a (click)="logout()">Salir</a>
                </li>

                <!-- DROPDOWN Usuarios  -->
                <div *ngIf="dropdown" id="dropdown">
                    <ul class="btn-column">
                        <li>
                            <a href="#">Perfil</a>
                        </li>
                        <li *ngIf="identity.role == 1">
                            <a href="#">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </ul>
            <ul *ngIf="!identity" >
                <li>
                    <a [routerLink]="['/home/inicio']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog/posts/todos']">Posts</a>
                </li>
                <li>
                    <a [routerLink]="['/categorias']">Categorías</a>
                </li>
                <li>
                    <a [routerLink]="['/home/login']">Login</a>
                </li>
                <li>
                    <a [routerLink]="['/home/register']">Registro</a>
                </li>
            </ul>
        </nav>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>