<slider
    size='small'
    title='Administración de Usuarios'
></slider>

<div class="center">

    <div *ngIf="!status">
        <h3>Cargando ...</h3>
        <img src="assets/images/loading.gif" alt="loading">
    </div>

    <!-- Tabla de users -->
    <div *ngIf="status" class="containerTable">

        <div class="alert-danger" style="background: orange;margin: 15px;">
           El bloqueo tendrá efecto inmediato mientras que el elevar y degradar
           tendrán efecto después de reiniciar sesión en dicha cuenta (es posible que tenga acceso a menús de administrador pero no lo dejará operar)
        </div>

        <table   class="tableUsuarios">
            <tr class="cabecera">
                <th>Nombre</th>
                <th>Alias</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Rol</th>
                <th>Operaciones</th>
            </tr>
            <tr *ngFor="let user of users; index as i">
                <td>{{user.fullname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <th>
                    <small [style.color]="user.active ? 'green': 'red'">
                        {{user.active ? 'Activo' : 'Bloqueado'}}
                    </small>
                </th>
                <th>
                    <small class="badge badge-black">{{user.admin ? 'Administrador' : 'Usuario'}}</small>
                </th>

                <td class="btn-column">
                    <a [routerLink]="['/perfil/', user._id]" class="btn btn-action btn-row" style="padding: 5px;">
                        <img width="30" src="https://img.icons8.com/plasticine/100/000000/visible.png"/>
                        Ver
                    </a>
                    <a *ngIf="user.active" (click)="blockUser(user._id,i)" class="btn btn-action btn-row" style="padding: 5px;">
                        <img width="30" src="https://img.icons8.com/plasticine/100/000000/cancel-2.png"/>
                        Bloquear
                    </a>
                    <a *ngIf="!user.admin && user.active" (click)="grantUser(user._id,i)" class="btn btn-action btn-row" style="padding: 5px;">
                        <img width="30" src="https://img.icons8.com/plasticine/100/000000/maintenance.png"/> 
                         Elevar
                    </a>
                    <a *ngIf="user.admin && user.active" (click)="revokeUser(user._id,i)"class="btn btn-action btn-row" style="padding: 5px;">
                        <img width="30" src="https://img.icons8.com/plasticine/100/000000/gender-neutral-user--v1.png"/>
                        Degradar
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div style="width: 60%;margin: 10px auto;" *ngIf="pagination" class="btn-row">
        <span class="badge pagination" *ngIf="pagination.hasPrevious" (click)="changePage('previous')">
            <img class="flechaIzq" src="https://img.icons8.com/plasticine/100/000000/circled-chevron-down.png"/>
        </span>
        <span  class="badge pagination">{{page}}</span>
        <span class="badge pagination" *ngIf="pagination.hasNext" (click)="changePage('next')">
             <img class="flechaDer" src="https://img.icons8.com/plasticine/100/000000/circled-chevron-down.png"/>
        </span>
    </div>

    <div class="clearfix"></div>
</div>
