
<div *ngIf="!status">
    <h3>Cargando ...</h3>
    <img src="assets/images/loading.gif" alt="loading">
</div>

<div *ngIf="status && posts.length == 0">
    <h3>No hay posts que mostrar</h3>
</div>

<!--Listado articulos-->
<div *ngIf="status" id="articles">
   
        <article *ngFor="let post of posts; index as i" class="article-item" id="article-template">
                    <span id="fav">
                        <!-- noFav -->
                        <a *ngIf=" identity && !post.favorites[identity.username]" (click)="doFav(i)">
                        <img width="50" src="https://img.icons8.com/plasticine/100/000000/like--v2.png"/>
                        </a>
                        <!-- Fav -->
                        <a *ngIf="identity && post.favorites[identity.username]" (click)="undoFav(i)" >
                        <img  width="50" src="https://img.icons8.com/plasticine/100/000000/like--v1.png"/>
                        </a>
                    </span>
                   
            <div class="image-wrap thumbnail">
                <img (load)="onLoadImage130($event)" *ngIf="post.url_image" [src]="post.url_image" alt="post.title" />
                <img  *ngIf="!post.url_image" src="assets/images/default.jpg" alt="Default" />
            </div>

            <h2>{{post.title}}</h2>
            <small [routerLink]="['/blog/user_id/' + post.user_id]">{{post.author}}</small>
            <div style="justify-content: left;margin: 10px 0;" class="btn-row">
                <span [routerLink]="['/blog/theme/' + post.theme]" class="badge" 
                    [ngClass]="{ 
                        'badge-black' : post.theme === 'Prog',
                        'badge-brown' : post.theme === 'Arte',
                        'badge-green' : post.theme === 'Recetas',
                        'badge-purple' : post.theme === 'Otros'
                }">{{post.theme}}</span> &nbsp;
                <span [routerLink]="['/blog/category/' + post.category]" class="badge" 
                    [ngClass]="{ 
                        'badge-black' : post.theme === 'Prog',
                        'badge-brown' : post.theme === 'Arte',
                        'badge-green' : post.theme === 'Recetas',
                        'badge-purple' : post.theme === 'Otros'
                }">&lt;{{post.category}}&gt;</span>
            </div>
            
            <span class="date">
                {{post.date | amLocale : 'es' | amTimeAgo}}
            </span>

                <!-- NumFavoritos -->
                <span *ngIf="identity" id="numfavs">
                    <small>
                        {{countObj(post.favorites)}}
                        <img  width="10" src="https://img.icons8.com/plasticine/100/000000/like--v1.png"/>
                    </small>
                </span>

            <a [routerLink]="['/post', post._id]">Ver Post</a>
            <small *ngIf="identity && post.likes"style="color: grey;" >{{post.likes}}</small>
            <div class="clearfix"></div>
        </article>

</div>

