<slider
    size='small'
    [title]='title'
></slider>

<div class="center">
    <section  id="content">

        <small *ngIf="status"
            style="color : grey;position: relative;top: 30px;">
        Núm de Resultados : {{posts.length}}
        </small>
        <h2 class="subheader">Resultados</h2>

        <app-posts
            [identity]="identity"
            [token]="token"
            [posts]="posts"
            [status]="status"
        ></app-posts>

    </section>

    <sidebar
        [logued]="logued"
    ></sidebar>

    <div class="clearfix"></div>
</div>

