<slider
 size='small' [title]='title'
 ></slider>

<div class="center">
    <section id="content">

        <div *ngIf="!post">
            <h2 class="subheader">Cargando ...</h2>
            <img src="assets/images/loading.gif" />
        </div>

        <article *ngIf="post" class="article-item article-detail">
            <div class="image-wrap">
                <img (load)="onLoadImg()" id="image" *ngIf="post.url_image" [src]="post.url_image" alt="post.title" />
                <img (load)="onLoadImg()" id="image" *ngIf="!post.url_image" src="assets/images/default.jpg" alt="Default" />
            </div>

            <h1 class="subheader">{{post.title}}</h1>
            <h3 [routerLink]="['/blog/user_id/' + post.user_id]" >{{post.author}}</h3>
            <span class="date">
               {{post.date | amLocale : 'es' | amTimeAgo}}
            </span>


            <div *ngIf="identity && (identity.id == post.user_id || identity.role == 1 )" class="btn-row">
               <button [routerLink]="['/editar/', post._id ]" style="border : 4px solid orange" class="btn btn-warning">Editar</button>
               <button (click)="openDeleteModal(post)" style="border:  4px solid red" class="btn btn-danger">Eliminar</button>
           </div>      

               <hr/>

            <div class="btn-row">
                <a (click)="openModal(pos)" class="btn btn-action">
                    <img src="https://img.icons8.com/plasticine/100/000000/reading.png"/>&nbsp;
                    <b *ngIf="pos == 0 && !withProgress">Leer</b> 
                    <b *ngIf="pos != 0 || withProgress">Continuar</b>
                </a>
                <a *ngIf="post.url_yt" (click)="openInNewTab(post.url_yt)" class="btn btn-action">
                    <img src="https://img.icons8.com/plasticine/100/000000/youtube-play.png"/>&nbsp;Vídeo
                </a>
                <a (click)="openInNewTab('https://www.youtube.com/results?search_query=' + post.title)"  class="btn btn-action">
                    <img src="https://img.icons8.com/plasticine/100/000000/window-search.png"/>&nbsp;Similares
                </a>
            </div>

            <div class="clearfix"></div>
        </article>

    </section>

    <sidebar
        [logued]="logued"
    ></sidebar>

    <div class="clearfix"></div>
</div>

<!-- Modal -->

<div *ngIf="modal" id="myModal" class="modal">

    <div class="modal-content">
        <div class="modal-header">
          <span (click)="closeModal()" class="close alert-danger">&times;</span>
          <h2>{{ (pos+1) }}º</h2>
        </div>
        <div class="modal-body">

          <div id="contenido" style="text-align: left;" [innerHTML]="viewingContent | safeHtml">
                
          </div>

        </div>
        <div class="modal-footer btn-row">
            <a *ngIf="pos < content.length && pos != 0" (click)="previous()" class="btn btn-action">
                <img class="flechaIzq" src="https://img.icons8.com/plasticine/100/000000/circled-chevron-down.png"/>
            </a>
            <a *ngIf="(pos+1) < content.length" (click)="next()" class="btn btn-action">
                <img class="flechaDer" src="https://img.icons8.com/plasticine/100/000000/circled-chevron-down.png"/>
            </a>

                &nbsp;

                <!-- noFav -->
                <a *ngIf=" identity && !post.favorites[identity.username]" (click)="doFav()">
                    <img width="50" src="https://img.icons8.com/plasticine/100/000000/like--v2.png"/>
                 </a>
                 <!-- Fav -->
                 <a *ngIf="identity && post.favorites[identity.username]" (click)="undoFav()" >
                    <img  width="50" src="https://img.icons8.com/plasticine/100/000000/like--v1.png"/>
                  </a>
                <a *ngIf="identity" class="btn btn-action" (click)="saveProgress()">Guardar progreso</a>
                <a *ngIf="identity && withProgress" class="btn btn-action" (click)="unsetProgress()">Descartar progreso</a>
        </div>
      </div>
  
  </div>

  <!-- Delete Modal -->
<div *ngIf="deleteModal" id="myModal" class="modal">

    <div class="modal-content deleteModal">
        <div class="modal-header">
            <span (click)="closeDeleteModal()" class="close alert-danger">&times;</span>
            <h2>¿Eliminar este Post?</h2>
        </div>
        <div class="modal-body">
            <h4>¿Está seguro de eliminar el post <b>"{{post.title}}"</b> que pertenece al usuario "<b>{{post.author}}</b>"?</h4>
            <h3> Esta acción es irreversible</h3>
        </div>
        <div class="modal-footer">
            <span class="btn-row">
                <a (click)="closeDeleteModal()" class="btn btn-white">Cancelar</a>&nbsp;
                <a (click)="deletePost()" class="btn btn-danger">Eliminar</a>
            </span>
        </div>
    </div>

</div>